
<h1>Please sign in.</h1>

<form method='post' action='/sessions'>
<p><input name='email' type='text' placeholder="email"></p>
<p><input name='password' type='password' placeholder="Password"></p>
<input type='submit' value='Sign in' class="button">
</form>