<!DOCTYPE html>
<html>
<head>
	<title>Bookmark manager</title>
		<link href="stylesheets/application.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
</head>

<body>

	<%= partial :header %>
	<%= partial :flash %>

	<%= yield %>

</body>
</html>